{
    "apps": {
        "api": {
            "baseUrl": "https://api.getkevin.eu/platform/v0.3",
            "clientSecret": "",
            "clientId": "",
            "redirectUrl": "https://yourapp.com/callback",
            "webHookUrl": "https://yourapp.com/notify",
            "contentType": "application/json"
        },
        "web": {
            "baseUrl": "https://demo.kevin.eu/",
            "amount": "0.01",
            "email": "abdalhadey@gmail.com"
        }
    }
}
